body {
  background-color: rgba(0, 0, 0, 0.8);
}
#content {
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  overflow-y: scroll;
  margin-top: 100px;
}
#content::-webkit-scrollbar {
  width: 0;
}
.word {
  flex-wrap: wrap;
  color: rgba(240, 153, 153, 0.4);
  font-size: 50px;
  padding: 4px 12px;
  letter-spacing: 2px;
}
.current {
  background-color: rgb(129, 131, 244);
  color: rgb(254, 254, 254);
  border-radius: 12px;
  animation: show 0.1s linear;
}

@keyframes show {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgb(129, 131, 244);
  }
}
.success {
  color: rgb(255, 255, 255);
}
.error {
  color: rgb(249, 192, 85);
}
#input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 50px;
}

#logo {
  width: 300px;
  border-radius: 24px;
}
#resetBtn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 50px;
  border-radius: 8px;
}
#resetBtn:active {
  background-color: rgba(255, 255, 0, 0.1);
}
