main {
  display: flex;
  flex-direction: column;
}
#newproduct h1 {
  text-align: center;
  color: #ed4190;
}
#newproduct h2 {
  color: #ed4190;
}
#newproduct div {
  display: flex;
}
#member h1 {
  text-align: center;
  color: #ed4190;
}
#member h2 {
  color: #ed4190;
}
#member div {
  display: flex;
}
